PRESENCE_HOSTED_SMOKE=1
PRESENCE_E2E_BASE_URL=
PRESENCE_E2E_API_URL=
PRESENCE_E2E_OWNER_EMAIL=
PRESENCE_E2E_OWNER_PASSWORD=
PRESENCE_STUDIO_V2_HOSTED_PILOT_ROOM_ID=
PRESENCE_STUDIO_V2_HOSTED_PILOT_SLUG=
PRESENCE_STUDIO_V2_HOSTED_LEGACY_SLUG=
PRESENCE_STUDIO_V2_HOSTED_LEGACY_ROOM_ID=
PRESENCE_HOSTED_DRAFT_WRITE_ENABLED=0
